body{
    padding: 0;
    margin: 0;
    background: url(img/background.jpg);
    background-size: cover;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}




.bg1{
    height: 900px;
    width: 100%;
    background: url(img/laptop-coffee-1940x900_35055.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #45a4ff;
}

.bg1 .text_na_bg1{
    padding: 300px 0;
    margin: 0 auto;
    text-align: center;
}

.bg1 .text_na_bg1 h1{
    font-size: 5rem;
    margin: 20px;
}
.bg1 .text_na_bg1 p{
    font-size: 2rem;
    margin: 0px 30px;
    font-weight: bold;
}

header {
     margin: 0 auto;
}

.fullwrap_a{
    position: fixed;
    right: 25px;
    top: 35px;
    background: rgba(255, 255, 255, 0.3);
}


header .logo_nav_a {
    top: 30px;
    left: 60px;
    position: fixed;
}

#btn_menu_a {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
    border-radius: 0 50px 50px 0;
}
header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    color: darkgray;
}

.menu_a {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;

}
.menu_a .tabs_menu_a:hover {
    background: rgba(78, 114, 194, 0.3);
}

.tabs_menu_a a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #45a4ff;
}


.tabs_menu_a a:hover {
    color: #3276a9;
}

/*Riss*/

.int {
    margin: 70px 30px;
}

.txt {
    color: #0086b5;
    text-align: center;
}

.txt2 {
    font-size: 24px;
    color: #0086b5;
    padding: 30 0px;
}

.info {
    width: 33%;
    float: left;
}
/*Riss*/

@media (max-width: 1030px) {
    header {
        width: 100%;
        text-align: center !important;
    }

    header label {
        display: block;
        left: 0;
        position: fixed;
    }

    .fullwrap_a{
        left: 0;
    }
    .navigation_a {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        top: 50px;
        left: -200px;
        transition: all 0.5s;

    }

    .menu_a {
        flex-direction: column;
    }

    .tabs_menu_a {
        border-top: 1px solid #fff;
    }

    #btn_menu_a:checked ~ .navigation_a {
        left: 0;
    }

    .bg1{
        height: 500px;
    }

    .bg1 .text_na_bg1{
        padding: 200px 0;
    }

    .bg1 .text_na_bg1 h1{
        font-size: 3rem;
        margin: 10px;
    }

    .bg1 .text_na_bg1 p{
        font-size: 1rem;
        margin: 0px 20px;
    }
}



.block_2{
    width: 70%;
    margin: 50px auto;
}

.block_2 img{
    width: 45%;
    float: left;
    margin: 0 20px 0 0;
}

.block_2 p{
    color: chocolate;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px;
}

@media (max-width: 1300px) {
    .block_2 p{
        font-size: 1rem;
        font-weight: bold;
        line-height: 30px;
    }
}

@media (max-width: 800px) {
    .block_2{
        width: 100%;
        margin: 10px auto;
    }


    .block_2 p{
        font-size: 1rem;
        font-weight: bold;
        line-height: 30px;
    }
}


.block_3{
    width:100%;
    min-height: 900px;
    background: url(img/int.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    font-family: Verdana, sans-serif;
    color: white;
    margin: 0 auto;
}




.block_4{
    width: 70%;
    height: 300px;
    margin: 40px auto;

}
.wrapper .active {
    color: #fff;
    border-bottom: 1px solid #45a4ff;
    background: #3276a9;
}

.tabs{
    text-align: center;
    font-weight: bold;
}

.tab {
    background: #d5eeff;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    padding: 0.5em 3em;
    display: inline-block;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
    transition: all 1s;
}
.tab_item{
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1em 1em;
}
.left_colom{
    width: 48%;
    float: left;
    padding: 0 10px;
}
.right_colom{
    width: 48%;
    float: left;
    padding: 0 10px;
}

.clearfix{
    clear: both;
}







.block_5{
    width: 100%;
    height: 900px;
    background: blue;
}



.block_6 .contact{
    margin: 30px auto;
    text-align: center;
}

.block_6 .conntact_p{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

.block_6 h5{
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    color: chocolate;
}

.block_6 input{
    width: 250px;
    height: 25px;
    text-align: center;
}




footer{
    width: 80%;
    position: relative;
    margin: 20px auto 50px auto;
    height: 30px;
    font-weight: bold;

}
footer .left_footer {
    line-height: 30px;
}



footer .right_footer {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}




footer .right_footer img{
    height: 30px;
    margin: 0 7px;
}

footer .right_footer p{
   line-height: 30px;
    margin: 0 20px 0 0;
}

@media (max-width: 1300px) {
    footer {
        text-align: center;
    }
    footer .right_footer {
        position: relative;
    }
}