
@font-face {
font-family: "PF BeauSans Pro";  /* имя шрифта для CSS правил */
src: url(fonts/PFBeauSansPro-Reg.ttf); /* проверяем наличие шрифта в ОС пользователя */
 /* если шрифт не установлен, тогда загружаем его по указанному пути */
}


body{
    padding: 0;
    margin: 0;
    /*background: url(img/background.jpg);*/
    background-size: cover;
    box-sizing: border-box;
   
    font-family: "PF BeauSans Pro", sans-serif;
}

#go-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor:pointer;
    display:none;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    background: #00ade5;
    color: #fff;
    border-radius: 0;
    transition: all linear 0ms;
    padding-top: .3rem;
}

#go-top:hover {
    background: #fff;
    color: #00ade5;
    border: 2px solid #00ade5;
}

.bg1{
    height: 900px;
    width: 100%;
    background: url(img/laptop-coffee-1940x900_35056.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #00ade5;

}

.bg1 .text_na_bg1{
    padding: 300px 0;
    margin: 0 auto;
    text-align: center;
}

.bg1 .text_na_bg1 h1{
    background-color: white;
    font-size: 5rem;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-bottom: 30px;
}

.bg1 .text_na_bg1 p{
    font-size: 2.5rem;
    margin: 0px 600px;
    font-weight: lighter;
    color: white;
    background-color:  #00ade5;

}

header {
     margin: 0 auto;
}

.fullwrap_a{
    position: fixed;
    right: 25px;
    top: 35px;
    background: #00ade5;
    /*background: rgba(255, 255, 255, 0.9);*/
    z-index: 9999;
}


header .logo_nav_a {
    top: 30px;
    left: 25px;
    position: fixed;
    z-index: 9999;
}

#btn_menu_a {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    background:  #00ade5;
    border-right: 1px solid #fff;
    border-radius: 0 50px 50px 0;
}
header label:hover {
    cursor: pointer;
    color: #fff;
}

.menu_a {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #ffffff;

}


.tabs_menu_a a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background: #00ade5;
    /*border: 1px solid #00ade5;*/
    color: #ffffff;
}


.tabs_menu_a a:hover {
    background: #ffffff;
    color:  #00ade5;
}
/*активная ссылка*/
.box1111{
    color: #D4B30A;
}

/*Riss*/

.int {
    font-size: 4rem;
    margin: 25px 240px;
    background-color: #00ade5;
    margin-bottom: 15px;
}

.txt {
    color: white;
    text-align: center;
    font-weight: lighter;

}

.txt2 {
    font-size: 2.5rem;
    color: white;
    padding: 5px 0px;
    margin: 0px 170px 0px 170px;
    background-color: #00ade5;
    opacity: 0.9;
}

.gal {
    width: 20%;
}

.info {
    width: 33%;
    float: left;
}
/*Riss*/

@media (max-width: 1030px) {
    header {
        width: 100%;
        text-align: center !important;
    }

    header label {
        display: block;
        left: 0;
        position: fixed;
    }

    .fullwrap_a{
        left: 0;
    }
    #navigation_a {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        top: 50px;
        left: -200px;
        transition: all 0.5s;

    }

    .menu_a {
        flex-direction: column;
    }

    .tabs_menu_a {
        border-top: 1px solid #fff;
    }

    #btn_menu_a:checked ~ #navigation_a {
        left: 0;
    }

    .bg1{
        height: 500px;
    }

    .bg1 .text_na_bg1{
        padding: 200px 0;
    }
}



.block_2{
    width: 70%;
    margin: 50px auto;
    min-height: 320px;
}

.block_2 img{
    width: 35%;
    float: left;
    margin: 2px 20px 0 0;
}

.block_2 p{
    color: #00ade5;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 35px;
    /*padding-top: 10px;*/
}

@media (max-width: 1300px) {
    .block_2 p{
        font-size: 1rem;
        font-weight: bold;
        line-height: 30px;
    }
}

@media (max-width: 800px) {
    .block_2{
        width: 80%;
        margin: 10px auto;
    }


    .block_2 p{
        font-size: 1rem;
        font-weight: bold;
        line-height: 30px;
    }

    .block_2 img{
    width: 200px;
    float: left;
    margin: 2px 20px 0 0;
}
}


.block_3{
    width:100%;
    min-height: 700px;
    background: url(img/int.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    /*font-family: Verdana, sans-serif;*/
    font-weight: lighter;
    color: white;
    margin: 0 auto;
}





















.block_4{
    width: 70%;
    /*height: 460px;*/
    margin: 60px auto;
    /*overflow: hidden;*/

}


.wrapper .active {

    background: rgba(0, 173, 229, 0.3);
    color: #ffffff;
    border: 1px solid #45a4ff;
    font-size: 2.5rem;
    padding: 60px;
    margin-top: -10px;
}




.wrapper .tabs .tab:hover {
    margin-top: -25px;
    padding: 80px 60px;
    background: #ffffff;
    color: #0086b5;
}


.tabs{
    text-align: center;
    font-weight: bold;
    width: 100%;
    background: #d2f4ff;
    height: 150px;
    margin-bottom: 40px;

}

.tab {
    cursor: pointer;
    font-size: 1.6rem;
    border: 3px solid transparent;
    border-radius: 3px 3px 0 0;
    padding: 0 4.5rem;
    display: inline-block;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
}
.tab_item{

    border-radius: 3px;
    padding: 1em 1em;
}
.left_colom{
    width: 48%;
    float: left;
    text-align: justify;
    padding: 0 10px;
    font-size: 1.4rem;
}
.right_colom{
    width: 48%;
    float: left;
    text-align: justify;
    padding: 0 10px;
    font-size: 1.4rem;
}





















.block_5{
    width: 100%;
    height: auto; /* Не задавать фиксированную ширину, теряется адаптивность! */
    background: white;
}

#box5_a {
    margin-top: 5%;
    position: relative;
}





.block_6{
    position: relative;
    margin: 0;
}



.block_6 .contact{
    margin: 30px auto;
    text-align: center;
}

.block_6 .contact_p{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    color: #6d6e71;
}

.block_6 h5{
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    color: #00ade5;
}


.block_6 .contact input {
    text-align: center;
    width: 20%;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #00ade5;
}

.block_6 .form_bottom{
    display: inline-block;
    width: 15%!important;
    height: 60px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px;
    margin: 10px;
    background: #00ade5;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 2px solid #00ade5;
    text-transform: uppercase;
}

.block_6 .form_bottom:hover {
    background: #fff;
    color: #00ade5;
}



.loginform{
    position: relative;
}



label.error.active{
    width: 300px;
    position: absolute;
    font-size: 1.2rem;
    color: #ffffff;
    right: 30px;
    top: 45px;
    margin: 40px;
    padding: 40px;
    background: #373737;
    transition: all 0.5s;

}


label.error{
    position: absolute;
    display: none;
    color: #ffffff;
}







footer{
    width: 80%;
    position: relative;
    margin: 100px auto 50px auto;
    height: 30px;
    font-weight: bold;
    color: #6d6e71;

}
footer .left_footer {
    line-height: 30px;
}



footer .right_footer {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}




footer .right_footer img{
    height: 30px;
    margin: 0 7px;
}

footer .right_footer p{
   line-height: 30px;
    margin: 0 20px 0 0;
}


/*MEDIA*/
        @media (max-width: 1300px) {
            footer {
                text-align: center;
            }
            footer .right_footer {
                position: relative;
            }
        }

        @media (max-width: 2535px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 900px;
                margin-right: 900px;
            }
            .tab {
                padding: 1.8em 4.5em;
            }
        }

        @media (max-width: 2350px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 800px;
                margin-right: 800px;
            }
            .tab {
                padding: 1.8em 3.5em;
            }
        }

        @media (max-width: 2160px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 700px;
                margin-right: 700px;
            }
            .int {
                font-size: 3rem;
            }
            .txt2 {
                font-size: 2rem;
            }
            .tab {
                padding: 1.8em 3em;
            }
        }

        @media (max-width: 1980px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 600px;
                margin-right: 600px;
            }
            .int {
                font-size: 3rem;
            }
            .txt2 {
                font-size: 1.5rem;
            }
             .tab {
                padding: 1.8em 2em;
            }
        }

        @media (max-width: 1755px) {
            .bg1 .text_na_bg1 h1{
                font-size: 4rem;
            }
            .bg1 .text_na_bg1 p{
                font-size: 2rem;
            }
            .int {
                font-size: 2.5rem;
            }

            .wrapper .active {
                font-size: 2rem;
                padding: 40px 60px;
                margin-top: -10px;
            }
            .wrapper .tabs .tab:hover {
                padding: 40px 60px;
            }
            .tabs{
                height: 125px;
                margin-bottom: 30px;
            }
            .tab {
                padding: 1.8em 4em;
            }
            .block_4{
                width: 100%;

            }




        }


        @media (max-width: 1680px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 550px;
                margin-right: 550px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 550px;
            }
            .bg1{
                height: 700px;
            }
            .txt2 {
                font-size: 1rem;
            }
            .block_3 {
                min-height: 500px;
            }
        }
        @media (max-width: 1580px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 450px;
                margin-right: 450px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 450px;
            }
        }

        @media (max-width: 1460px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 350px;
                margin-right: 350px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 450px;
            }
            .int {
                font-size: 2rem;
            }
            .txt2 {
                margin: 0px 110px 0px 110px;
            }






            .wrapper .active {
                font-size: 1.6rem;
                padding: 28px 50px;

            }
            .wrapper .tabs .tab:hover {
                padding: 30px 50px;
            }
            .tabs{
                height: 5.6rem;
                margin-bottom: 30px;
            }
            .tab {
                padding: 1em 3em;
            }





            label.error.active{
                font-size: 1.2rem;
                right: 20px;
                top: 45px;
                margin: 20px;
                padding: 20px;
            }




            .block_6 .contact input {
                width: 30%;
                font-size: 18px;
            }

            .block_6 .form_bottom{
                width: 20%!important;
                height: 50px;
                font-size: 18px;
                margin: 5px;
            }

















        }

        @media (max-width: 1340px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 350px;
                margin-right: 350px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 350px;
            }
        }

        @media (max-width: 1340px) {
            .bg1 .text_na_bg1 h1{
            font-size: 3rem;
            margin: 10px;
            margin-left: 350px;
            margin-right: 350px;
            }

            .bg1 .text_na_bg1 p{
            font-size: 1rem;
            margin: 0px 350px;
            }
            .int {
            margin: 25px 200px;
            }





            .wrapper .active {
                font-size: 26px;
                padding: 15px 30px;
                margin-top: -7px;
            }




            .wrapper .tabs .tab:hover {
                padding: 15px 30px;
                margin-top: -7px;
            }


            .tabs{
                height: 50px;
                margin-bottom: 30px;
            }

            .tab {
                padding: 0em 1.9em;
            }








            label.error.active{
                font-size: 1.2rem;
                right: 10px;
                top: 85px;
                margin: 10px;
                padding: 10px;
            }


            .block_6 .contact input {
                width: 22%;
                font-size: 18px;
            }

            .block_6 .form_bottom{
                width: 20%!important;
                height: 50px;
                font-size: 18px;
                margin: 5px;
            }









        }

        @media (max-width: 1030px) {
            header .logo_nav_a {
            left: 70px;
            position: fixed;
            }
            .int {
            margin: 25px 130px;
            }
            .txt2 {
            margin: 0px 70px 0px 70px;
            }


            .left_colom{
                width: 45%;

            }
            .right_colom{
                width: 45%;
            }



            label.error.active{
                width: 200px;
                font-size: 1rem;
                right: 15px;
                top:85px;

            }


            .block_6 .contact input {
                width: 30%;
                font-size: 18px;
            }

            .block_6 .form_bottom{
                width: 20%!important;
                height: 50px;
                font-size: 18px;
                margin: 5px;
            }



        }

        @media (max-width: 880px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 250px;
                margin-right: 250px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 250px;
            }

            .bg1{
                height: 500px;
            }
            .int {
            margin: 25px 70px;
            }
            .txt2 {
            margin: 0px 30px 0px 30px;
            }





            .wrapper .active {
                font-size: 26px;
                padding: 15px 30px;
                margin-top: -7px;
            }
            .wrapper .tabs .tab:hover {
                padding: 15px 30px;
                margin-top: -7px;
            }
            .tabs{
                height: 50px;
                margin-bottom: 30px;
            }

            .tab {
                padding: 0em 1em;
            }










            label.error.active{
                font-size: 1rem;
                right: 5px;
                top: 100px;
                margin: 10px;
                padding: 10px;
            }


            .block_6 .contact input {
                width: 20%;
                font-size: 18px;
            }

            .block_6 .form_bottom{
                width: 15%!important;
                height: 50px;
                font-size: 10px;
                padding: 0!important;
                margin: 5px auto;
            }


            .block_6 h5{
                text-align: center;
            }

            .adapt_form{
                margin-left: -35%!important;
            }
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            



        }

        @media (max-width: 700px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 150px;
                margin-right: 150px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 150px;
            }
            .bg1{
                height: 400px;
            }
            .int {
                font-size: 1.5rem;
            }
            .block_3 {
                min-height: 350px;
            }


            .left_colom{
                width: 100%;

            }
            .right_colom{
                width: 100%;
            }

            .wrapper .active {
                font-size: 26px;
                padding: 5px;
                margin-top: 0px;
            }
            .wrapper .tabs .tab:hover {
                padding: 5px;
                margin-top: 0px;
            }
            .tabs{
                height: 40px;
                margin-bottom: 30px;
            }

            .tab {
                padding: 0em 0.5em;
            }





        }

        @media (max-width: 585px) {
            .bg1 .text_na_bg1 h1 {
                margin-left: 150px;
                margin-right: 150px;
                margin-top: -35px;
            }

            .bg1 .text_na_bg1 p{
                margin: 0px 50px;
            }
            .txt2 {
                font-size: 0.7rem;
            }

            .tabs{
                height: 80px;
                margin-bottom: 20px;
            }

            .tab {
                padding: 0em 1.5em;
            }







            label.error.active{
                font-size: 1rem;
                right: 25%;
                top: 100%;
                margin: 10px;
                padding: 10px;
            }


            .block_6 .contact input {
                width: 60%;
                font-size: 18px;
            }

            .block_6 .form_bottom{
                width: 50%!important;
                height: 50px;
                font-size: 10px;
                padding: 0!important;
                margin: 5px auto;
            }


            .block_6 h5{
                text-align: center;
            }

            .adapt_form{
                margin: 0px auto!important;
            }


        }
        @media (max-width: 500px) {
            .bg1 .text_na_bg1 h1{
                margin-left: 50px;
                margin-right: 50px;
            }
            .bg1 .text_na_bg1 p{
                margin: 0px 50px;
            }
            .txt2 {
                font-size: 0.4rem;
            }



            .tabs{
                height: 120px;
                margin-bottom: 10px;
            }

            .tab {
                padding: 0em 1em;
            }



            #go-top {
                right: 80px;
            }





        }



@media (max-width: 450px) {

    label.error.active{
        right: 21%;
    }

}

@media (max-width: 320px) {

    label.error.active{
        right: 11%;
    }

}

.clearfix{
    clear: both;
}










a.bx-prev{
    color: #ffffff;
}
a.bx-next{
    color: #ffffff;
}
















